html {
  font-family: "Noto Sans", sans-serif;
}

.skip-links a {
  position: absolute;
  top: -3em;
  color: #000;
}

.skip-links a:focus {
  top: 0;
}

.font-jp {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  border-width: .1em;
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #000;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  border-bottom: .1em solid #8bc9d9;
  text-decoration: none;
  color: #005e76;
}

.nav a:hover {
  border-color: #0084a6;
  color: #005e76;
}

.intro-box {
  border-bottom: .1em solid #e2e2e2;
  border-top: .1em solid #e2e2e2;
}

footer {
  border-top: .1em solid #e2e2e2;
  color: #666;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
